/* p
{
    color: blue;
}

p.error semua p yg memiliki cls error
{
    color: red;
}

.success.feedback
{
    color: green;
    border : 5px solid yellowgreen;
} */

div .error
{
    color: red  ;
}
#top-container
{
    background-color: lightgray;
}
#buttom-container
{
    background-color: lightgreen;
}
a[href]
{
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: yellow;
}
a[href*="google"]
{
    background-color: green;
}
a[href$=".ac.id"]
{
    background-color: purple;
}
h1:hover
{
    color: white;
    background-color: black;
}
p::selection
{
    color: yellow;
    background-color: red;
}
a::before
{
    content: "link-";
}